body {
    margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.search-box {
    position: relative;
    background: #fcfcfc;
    border: 3px solid rgb(0, 0, 0);
    height: 66px;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 35%;
    margin-top: 2px;

}

.search-text {
    background: none;
    padding: 10px;
    border: 0;
    outline: 0;
    font-size: 20px;
}

.textomenu {
    position: static;
    margin-top: 3px;
    display:flex;
    border: 1px solid rgb(17, 76, 83);
    border-radius: 15px;
    width: 100%;
    background-color: rgb(17, 76, 83);
    justify-content: left;
    align-self: right;
    height: 60px;
}

#text-menu {
    color: #ffffff;
    margin-left: 23%;
    border: 1px solid rgb(17, 76, 83);
}


ul {
    position: relative;
    display: flex;
    list-style-type: none;
    align-items: right;
    padding: 20px;
    margin-top: -30px;
    text-decoration: underline #223320;

}

#menu1 {
    background-color: #1ABF66;
    color: #ffffff;
    padding: 5px 8px;
    border: 1px solid #1ABF66;
    border-radius: 8px;
    height: 60px;
    margin: 15px;
    width: 150px;

}

#menu2 {
    background-color: rgb(17, 76, 83);
    color: #ffffff;
    padding: 5px 8px;
    border: 1px solid rgb(17, 76, 83);
    border-radius: 8px;
    height: 60px;
    margin: 15px;
    width: 150px;

}

#menu3 {
    background-color: rgb(17, 76, 83);
    color: #ffffff;
    padding: 5px 8px;
    border: 1px solid rgb(17, 76, 83);
    border-radius: 8px;
    height: 60px;
    margin: 15px;
    width: 150px;
}

#tabela {
	border-collapse:collapse;
	border:1px solid #CCC;
    margin-left: 23%;
    width: 75%;
    text-align: center;
}

tr {
	border:8px solid #CCC;
}

#tabela td {
	height:40px;
	border:2px solid #CCC;
    border-radius: 10px;
}

.buttonnew {
    position: relative;
    display: flex;
    list-style-type: none;
    align-items: right;
    padding: 20px;
    margin-top: -30px;
    margin-left: 25%;
    

}

#buttontext {
    background-color: #1ABF66;
    color: #ffffff;
    border: 1px solid #1ABF66;
    border-radius: 8px;
    height: 60px;
    padding: 5px 8px;
    margin: 15px;
    width: 150px;
}

.tittletable {
    padding: 10px;
}

.imgbutton {
    height: 40px;
}

.buttonlupa {
    all: unset;
    cursor: pointer;
    outline: revert;
}

.imgexluir {
    height: 40px;
}

.buttonexluir {
    background-color: rgba(119, 119, 119, 0.589);
    color: #ffffff;
    padding: 5px 8px;
    border: none;
    border-radius: 8px;
    height: 60px;
    margin: 15px;
    width: 100px;
}

.textomenucadastroPN {
    position: relative;
    margin-top: 3px;
    display: flex;
    border: 1px solid rgb(17, 76, 83);
    border-radius: 15px;
    width: 50%;
    background-color: rgb(17, 76, 83);
    justify-content: center;

}

#menucadastropn {
    position: relative;
    display: flex;
    list-style-type: none;
    align-items: right;
    padding: 20px;
    margin-top: 30px;
}

#btnaddproduto {
    background-color: #1ABF66;
    color: #ffffff;
    border: 1px solid #1ABF66;
    border-radius: 8px;
    height: 60px;
    width: 150px;
    margin-left: 25%;
}

#btnvoltar {
    background-color: #66a85d;
    color: #ffffff;
    padding: 5px 8px;
    border: 1px solid #66a85d;
    border-radius: 8px;
    height: 60px;
    margin: 15px;
    width: 100px;
}

#textproduto {
    text-align: center;
    font-size: 1;;
}

#textlocal {
    text-align: center;
}

#textquantidade {
    text-align: center;
}

.campodetexto {
    position: relative;
    background: #ffffff;
    border-radius: 15px;
    align-self: center;
    margin-top: 20px;
}

#adicionarproduto {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    padding: 8px;
    display: flex;
    margin-left: 25%;

}

#adicionarlocal {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    padding: 8px;
    margin-left: 25%;
}

#adicionarquantidade {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    padding: 8px;
    margin-left: 25%;
}

.barraesquerda {
    width: 300px;
    /* Largura da barra */
    height: 100%;
    /* Altura da barra (100% da altura do pai) */
    background-color: #0F2414;
    /* Cor da barra */
    position: fixed;
    /* Mantém a barra fixa na tela */
    left: 0;
    /* Alinha a barra à esquerda */
    top: 71px;
    /* Alinha a barra ao topo */
    border-radius: 15px;
}

.botaomenu{
    margin-left: 25%;
}

#linhamenu{
    height: 2px;
    background-color: #2F8109;
    margin-top: -50px;
}